
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.signIn img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.signIn{
  position: relative;
  top: 100px;
}

.signIn h1 {
  text-align: center;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

body {
  margin: 0;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#left-nav {
  color: #f2f2f2;
  float: none;
  display: block;
  margin-left:10px;

}



.column {
  float: left;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.column.mid {
    width: 35%;
}

.column.right{
    width:30%;
}
.column.left{
    width:33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text] {
  width: 120px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 50%;
}


.box {
  width: 200px;
  border: 1px solid #0002;
  padding: 25px;
  margin: 0px;
}


@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
